---
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// Import nicer font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

// Rounded underline bars
.page__title::after,
.archive__item-title::after,
.greedy-nav .visible-links a:before {
  border-radius: 10px;
}

// Rounded buttons
.btn {
  border-radius: 30px;
}

// Rounded project cards
.archive__item {
  border-radius: 12px;
}

.archive__item-teaser img {
  border-radius: 12px 12px 0 0;
}